$blackish: #222;
$lightish: rgba(0,0,0,0.1);
$lighterish: rgba(0,0,0,0.05);
.hella-slider {
  position:relative;
  overflow:hidden;
  background:$lighterish;
  border:1px solid $lightish;
  box-shadow:0 0 1px 2px $lighterish;
  margin:.5rem;
  line-height:0;
  .hella-slider-images {
    display:flex;
    align-items:center;
    &.hella-smooth-transition {
      transition:all .5s ease-in-out;
    }
    figure {
      flex:0 0 auto;
      text-align:center;
      margin:0;
      figcaption {
        display:none;
      }
      img {
        opacity:0;
        max-height:100%;
        max-width:100%;
      }
    }
  }
  .hella-slider-controls {
    display:flex;
    justify-content:space-between;
    background-color:white;
    border:1px solid $lightish;
    border-top:0;
    color:$blackish;
    .hella-slider-prev, .hella-slider-next {
      display:flex;
      align-items:center;
      &.hella-disabled {
        opacity:0.5;
      }
      &:hover {
        cursor:pointer;
      }
    }
    .hella-slider-prev {
      left:0;
    }
    .hella-slider-next {
      right:0;
    }
    .hella-caption-display-slot {
      width:100%;
      min-height:3rem;
      line-height:1.2rem;
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
    }
  }
}
.hella-button {
  display:inline-block;
  color:$blackish;
  background-color:white;
  padding:.7rem 1rem;
  margin:.2rem;
  border-radius:.3rem;
  transition:all .1s ease-in-out;
  border:1px solid $lightish;
  &:hover {
    cursor:pointer;
  }
}